{% macro track() %}
{%- if config.extra.ga %}
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.ga.track_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.extra.ga.track_id }}');
    </script>
    <!-- End Google Analytics -->
{% endif %}
{% endmacro track %}