{% macro nav() %}

{% if config.extra.nav %}

<div class="nav-container">
    <div class="nav">
        {% for nav in config.extra.nav %}
            {% if nav.type == "taxonomy" %}
                {# {% set taxonomy = get_taxonomy(kind=nav.value) %} #}
                {% set url = get_url(path=nav.value) %}
                {% set title = nav.title | default(value=nav.value) %}
                {{ site::nav_item(url=url, title=title) }}
            {% elif nav.type == "page" %}
                {% set path = nav.value ~ "/index.md" %}
                {% set page = get_page(path=path) %}
                {% set title = nav.title | default(value=nav.value) %}
                {{ site::nav_item(url=page.permalink, title=title) }}
            {% elif nav.type == "section" %}
                {% set path = nav.value ~ "/_index.md" %}
                {% set section = get_section(path=path) %}
                {% set title = nav.title | default(value=nav.value) %}
                {{ site::nav_item(url=section.permalink, title=title) }}
            {% elif nav.type == "link" %}
                {{ site::nav_item(url=nav.url, title=nav.title) }}
            {% endif %}
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}

{% endmacro nav %}