{% extends "base.html" %}

{% block main %}

<div class="block-terms">
    <h1 class="title" id="page-title"> {{ taxonomy.name }}</h1>
    <div class="terms">
    {%- for term in terms %}
        <div class="term">
            <div class="name u-link">
                <a href="{{ term.permalink }}">{{ term.name }} </a>
            </div>
            <ul class="values">
                {% for page in term.pages %}
                    <li class="u-link">
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                        <span class="post-date">{{ page.date | date }}</span> 
                        {% for tag in page.taxonomies.tags %}
                            &middot;
                            <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock main %}