{% extends "base.html" %}
{% import "_macros/post.html" as post %}
{% block main %}

<div class="block-terms">
    <h1 class="title" id="page-title"> {{ taxonomy.name }}</h1>
    <div class="terms">
    {%- for term in terms %}
        <div class="term">
            <h2 class="name u-link">
                <a href="{{ term.permalink }}">{{ term.name }} </a>
            </h2>

            {{ post::page_list(pages=term.pages)}}
        </div>
    {% endfor %}
    </div>
</div>

{% endblock main %}