{% extends "base.html" %}
{% import "_macros/post.html" as post %}

{% block main %}

<div class="block-list">
    <h1 class="title" id="page-title">{{ taxonomy.name }} &middot; {{ term.name }}</h1>
    <div class="posts">
        {% for page in term.pages %}
        <div class="post">
            <h1 class="post-title u-link">
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h1>
            {{ post::meta(page=page) }}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}